$font-size-values: (
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  26: 26px,
  28: 28px,
);

@each $name, $value in $font-size-values {
  .font-#{$name} {
    font-size: $value;
  }
}

$line-height-values: (
  14: 14px,
  16: 16px,
  18: 18px,
  20: 20px,
  22: 22px,
  24: 24px,
  26: 26px,
  28: 28px,
);

@each $name, $value in $line-height-values {
  .line-height-#{$name} {
    line-height: $value;
  }
}