// $primary1: #e4a788;
// $primary2: #44281d;
// $primary3: #f0e14a;
// $primary4: #97ce4c;
// $primary5: #e89ac7;

$primary1: #515974;
$primary2: #3B7D9F;
$primary3: #00A3B4;
$primary4: #27C7AA;
$primary5: #90E58B;
$primary6: #F9F871;
